html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
}
header > .actions{
    display: none;
}
body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

body > header {
    display: flex; 
    padding: 0 20px;
    height: 60px;
    background: #4fcc99;
    color: rgba(255, 255, 255, .8);
}
body > header > .actions {
    height: 100%;
    padding: 10px 0;
}
body > header > h1 {
    margin: 0;
    line-height: 60px;
    flex: 1;
}

body > main {
    display: flex;
    flex-direction: row;
    align-self: stretch;
    flex: 1;
}

body > main > section {
    display: flex;
    flex-direction: column;
    flex: 3;
}

body > main > section > footer {
    background: #f1f1f1;
    border-top: 1px solid #e0e0e0;
    height: 200px;
    overflow: auto;
}

/* MENUS */
.messages, .games {
    padding: 20px;
}

.messages > .message, .games > .game {
    padding: 10px 15px;
    background: white;
    margin-bottom: 10px;
    box-shadow: 1px 1px 2px #c6c6c6;
}

.games > .game > .game-attemps {
    margin: 10px 0;
}

body > main > section > .content {
    overflow: auto;
    padding: 20px 25px;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

body > main > aside {
    padding: 20px;
    overflow: auto;
    flex: 1;
    border-left: 1px solid #e0e0e0;
    background: #f1f1f1;
}

body > main > aside > .card {
    height: 80px;
    width: 100%;
}

.card {
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-right: 20px;
    transition: all .5s ease;
    transform-style: preserve-3d;
}

.card.view{
    transform: scale(2) translate(50%, 50%);
    z-index: 10;
}
.card.flip{
    transform: rotateY(180deg);
}

.card > .front, .card > .back {
    border-radius: 5px;
    
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    backface-visibility: hidden;
}

.card > .front {
    z-index: 2;
    text-align: center;
    line-height: 200px;
    font-size: 100px;
    background: #EEE;
    transform: rotateY(180deg);
}

.card > .back {
    background: #4fcc99;
}

.backdrop{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.backdrop.show{
    display: block;
}



.svg-icon {
    width: 40px;
    height: 40px;
    margin-left: 15px;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: white;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}
#overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background: black;
}
#overlay.show {
    display: block;
    z-index: 10;
}

@media screen and (max-width: 600px) {
    header > .actions {
        display: block;
    }
}